.App {
  text-align: left;

  
  /* タブの色 */
  .nav .MuiTab-root {
    background-color: #9d2; /* 背景色 */
    color: #000000; /* 文字色 */
    font-size: 20px;
    padding: 10px 30px;
  }

  /* タブのホバー時の色 */
  .nav .MuiTab-root:hover {
    background-color: #004D40;
    color: #ffffff;
  }
}

